{# - Education #}


<section class="timeline">
	<div class="title-wrapper">
		<div class="icon-box">
			<ion-icon name="book-outline"></ion-icon>
		</div>

		<h3 class="h3">Education</h3>
	</div>

	<ol class="timeline-list">
		<li class="timeline-item">
			<h4 class="h4 timeline-item-title">
				Arab University of Sciences
			</h4>

			<span>2022 — Present</span>

			<p class="timeline-text">
				software engineering ( computer system - Development -
				                  Security )
			</p>
		</li>

		<li class="timeline-item">
			<h4 class="h4 timeline-item-title">
				Arab University of Sciences
			</h4>

			<span>2020 — 2022</span>

			<p class="timeline-text">
				License in Information and Communication Technologies.
			</p>
		</li>

		<li class="timeline-item">
			<h4 class="h4 timeline-item-title">
				High school March 2, 1934
			</h4>

			<span>2019 - 2020</span>

			<p class="timeline-text">
				Baccalaureate degree in technical sciences
			</p>
		</li>
	</ol>
</section>
