{# - service #}


<section class="service">
	<h3 class="h3 service-title">What i'm doing</h3>

	<ul class="service-list">

{#		{% for service in services %}#}
{#			<li class="service-item">#}
{#				<div class="service-icon-box">#}
{#					<i class="fa-solid {{ service.icon }}"></i>#}
{#				</div>#}

{#				<div class="service-content-box">#}
{#					<h4 class="h4 service-item-title">{{ service.title }}</h4>#}

{#					<p class="service-item-text">{{ service.subTitle }}</p>#}
{#				</div>#}
{#			</li>#}
{#		{% endfor %}#}

	</ul>
</section>
