{# - My skills #}

<section class="skill">
	<h3 class="h3 skills-title">My skills</h3>

	<ul class="skills-list content-card">


{#		{% for skill in skills %}#}
{#			<li class="skills-item">#}
{#				<div class="title-wrapper">#}
{#					<h5 class="h5">{{ skill.title }}</h5>#}
{#					<data value="100">{{skill.level | number_format(0, '.', '')}}%</data>#}
{#				</div>#}

{#				<div class="skill-progress-bg">#}
{#					<div class="skill-progress-fill" data-progress="{{ skill.level }}"></div>#}
{#				</div>#}
{#			</li>#}
{#		{% endfor %}#}


	</ul>
</section>
